<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link href="/static/assets/css/material-design-iconic-font.css" rel="stylesheet">
    <title>PyCode</title>
</head>
<body>
    <!-- navbar section -->
    <section>
        <nav>
            <div class="navbar-light bg-light shadow">
                <a href="#" class="nav-link"><h2>Students</h2></a>
            </div>
        </nav>
    </section>

{% block content %}
    
{% endblock content %}
    
<br><br><br>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>